<h3 id="review_head">Reviews</h3>

<% if @motorcycle.already_reviewed?(current_user) %>
  <%= link_to "Edit your review", edit_motorcycle_review_path(@motorcycle, @review)%>
  <%= link_to "Delete your review", motorcycle_review_path(@motorcycle, @review),
      method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>

<ul>
  <% @reviews.each do |r| %>
    <li class="review">
      <h4><%= r.title %> - by <%= r.username %> - Score:
        <span id="score_<%= r.id %>"><%= r.score %><span></h4>
      <p><%= r.description %></p>

      <% if r.already_voted?(current_user) == false || r.already_voted?(current_user) == 0%>
        <%= form_for @vote, remote: true, :html => { :id => "vote_form_#{r.id}",
            :class => "vote_form" }, url: api_v1_votes_path(r,
            :review_id => r.id, :user_id => current_user.id) do |f| %>
          <%= f.submit "+1", class: "vote_button_up", id: "vote_button_up_#{r.id}",
            remote: true%>
          <%= f.submit "-1", class: "vote_button_down", id: "vote_button_down_#{r.id}",
            remote: true%>
        <%end%>

    <% elsif r.already_voted?(current_user) == "+1"%>
      <%= form_for @vote, remote: true, :html => { :id => "vote_form_#{r.id}",
          :class => "vote_form" }, method: :put, url: api_v1_vote_path(r,
          :review_id => r.id, :user_id => current_user.id) do |f| %>
        <%= f.submit "+1", class: "voted_button_up", id: "vote_button_up_#{r.id}",
          remote: true%>
        <%= f.submit "-1", class: "vote_button_down", id: "vote_button_down_#{r.id}",
          remote: true%>
      <% end %>

    <% elsif r.already_voted?(current_user) == "-1"%>
      <%= form_for @vote, remote: true, :html => { :id => "vote_form_#{r.id}",
          :class => "vote_form" }, method: :put, url: api_v1_vote_path(r,
          :review_id => r.id, :user_id => current_user.id) do |f| %>
        <%= f.submit "+1", class: "vote_button_up", id: "vote_button_up_#{r.id}",
          remote: true%>
        <%= f.submit "-1", class: "voted_button_down", id: "vote_button_down_#{r.id}",
          remote: true%>
      <% end %>

    <% end %>
    </li>
  <% end %>
</ul>

<% if current_user && !@motorcycle.already_reviewed?(current_user)%>
  <%= link_to "Add a review", new_motorcycle_review_path(@motorcycle) %>
<% end %>

<% if !current_user %>
  <%= link_to "Sign in to review", new_user_session_path(@motorcycle) %>
<% end %>
